.navbar-brand {
	font-family: 'Montserrat Alternates', sans-serif;
	color: #D33E43;
	font-weight: bold;
	font-size: 30px;
	padding-right: 15px;
}

.navbar-start {
	margin-top: 8px;
}

.banner {
	background-color: #FFF;
	color: #D33E43;	
	padding-left: 0px;
}

.banner1 {
	background-color: #FFFFFF;
	color: #D33E43;	
	padding-left: 15px;
}

.banner2 {
	background-color: #FFFFFF;
	color: #D33E43;	
	padding-left: 15px;
	padding-right: 15px;
	padding-top:30px;
}

#foodbox{
	font-family: 'Montserrat Alternates', sans-serif;
	color: #D33E43;
	font-size: 3em;
}

.panel-heading{
	font-family: 'Montserrat Alternates', sans-serif;
	color: #D33E43;
	font-weight: bold;
	margin-top: 10px;  /*to make same height as content to left*/

}

.subtitle {
	font-family: 'Arimo', sans-serif;
}

.food-title {
	margin-bottom: 4px;
	font-family: 'Arimo', sans-serif;
}

.fa-star-o {
	position: relative;
	top: 7px;
}

.content {
	font-family: 'Arimo', sans-serif;
}


.is-4 {
	margin-top: 12px;
}

.is-8 {
	margin-top: 12px;
}

#box{
	margin-top:10px;
	margin-right:15px;

}

#signin, #signup{
	background-color: #D33E43;
	color:#ffffff;
	font-family: 'Arimo', sans-serif;

}

.recipeDiv{
	width:33%;
}